/* Universal */

html {
  font-size: 16px;
  color: #223C4C;
}

h1, h3, h5 {
  font-family: 'Quattrocento', serif;
  font-weight: 700;
}

p, li, h2, h4, h6 {
  font-family: 'Lato', sans-serif;
  letter-spacing: .05rem;
  font-weight: 300;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.4;
}

.flex {
  display: flex;
  align-items: center;
}

/* Header */

header {
  background-color: #4e8bb2;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

div.header_content {
  justify-content: space-between;
  padding: .65rem 1.5rem;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding-left: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #fff;
}

.logotype, .logo {
  height: 2.75rem;
}

/* Header Adjustment */

div.shift {
  position: relative;
  top: 4rem;
}

/* Introduction */

div#intro {
  background-color: #bce5fe;
  padding: 2rem 1.5rem;
}

#intro img {
  width: 60%;
  border-radius: 50px;
}

div.intro_titles {
  padding-left: 2.5rem;
}

.intro_titles h2 {
  padding: 1.5rem 0;
}

.button {
  text-align: center;
  background-color: #38637F;
  border-radius: 15px;
  padding: .5rem 0;
  color: #FFF;
}

/* Information */

#information {
  background-color: #f0fbff;
}
